{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %} {% if campaign.id %} Edit {% else %} Add {% endif %}  Campaign{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('admin_dashboard') }}">
            Admin
        </a>
    </li>
    <li>
        <a href="{{ path('admin_campaign_index') }}">
            Campaigns
        </a>
    </li>
    <li>
    {% if campaign.id %}<a href="{{ path('admin_campaign_view', {'id': campaign.id}) }}"> #{{campaign.id}} </a>/ Edit {% else %} Add {% endif %}
    </li>
{% endblock breadcrumbs %}

{% block body %}
    <h3>{% if campaign.id %} Edit {% else %} Add {% endif %} Campaigns</h3>

    <hr>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <div class="buttonbox" >
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                <a href="{{ path('admin_campaign_index') }}" class="btn btn-primary" ><li class="fa fa-arrow-left"></li> Back</a>
            </div>
    {{ form_end(form) }}
{% endblock %}


{% block scripts_custom %}
    <script src="{{ asset('js/to-markdown.js') }}"></script>
    <script src="{{ asset('js/markdown.js') }}"></script>

    <script type="text/javascript" >
        document.addEventListener('DOMContentLoaded', function() {
            $('#campaign_description').markdown();
            $('#campaign_details').markdown();
            $('#campaign_benefits').markdown();
        });

    </script>
{% endblock %}
