{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block breadcrumbs %}
    {{ parent() }}
    <li>
        <a href="{{ path('admin_dashboard') }}">
            Admin
        </a>
    </li>
    <li>
        <a href="{{ path('admin_category_index') }}">
            Categories
        </a>
    </li>
    <li>
        #{{ category.id }}
    </li>
{% endblock breadcrumbs %}

{% block body %}

    <h3>Category</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
            <tr>
                <th>Uri</th>
                <td>{{ category.uri }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td><div class="well">{{ category.description|markdown }}</div></td>
            </tr>
        </tbody>
    </table>

    <hr/>
    <h3> Campaigns ({{ category.campaignCategories|length }}) </h3>
    <table class="table table-striped ">
            <thead>
                <tr>
                    <th colspan="2">Campaign</th>
                    <th>Start At</th>
                    <th>End At</th>
                </tr>
            </thead>
            <tbody>
            {% for campaignCategory in category.campaignCategories %}
                <tr>
                    <td style="width: 64px;">
                        <a href="{{ path('admin_campaign_view', {'id': campaignCategory.campaign.id}) }}">
                            <img style="width: 64px; object-fit: cover; height: auto;" src="{{ campaignCategory.campaign.imageUrl }}" />
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('admin_campaign_view', {'id': campaignCategory.campaign.id}) }}">
                            {{ campaignCategory.campaign.name }}
                        </a>
                    </td>
                    <td>
                        {% if campaignCategory.campaign.startAt %} {{ campaignCategory.campaign.startAt|date() }} {% endif %}
                    </td>
                    <td>
                        {% if campaignCategory.campaign.endAt %} {{ campaignCategory.campaign.endAt|date() }} {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    <div class="buttonbox" >
            <a href="{{ path('admin_category_index') }}" class="btn btn-primary" >
                <li class="fa fa-arrow-left"></li> Back
            </a>
            <a href="{{ path('admin_category_edit', {'id': category.id}) }}" class="btn btn-success" >
                <li class="fa fa-edit"></li> Edit
            </a>
        </div>
{% endblock %}
